.dialog-background {
      background-size: cover;
      background-position: 50%;
}
    .dialog-row {
      display: -webkit-box !important;
    }
    .name--input__dialog {
        margin-right: 10% !important;
      }
      .btn--toggle__dialog {
        background-color: rgba(0, 0, 0, 0.75) !important;
        padding: 0 5px !important;
      }